@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-family: Raleway, sans-serif;
}

body {
  background: linear-gradient(135deg, #F2F2F2, #F2CDC4);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.screen {   
  background: linear-gradient(135deg, #F25A38, #F24822);
  position: relative; 
  height: 600px;
  width: 360px; 
  border-radius: 20px; /* 부드러운 모서리 */
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.screen__content {
  z-index: 1;
  position: relative; 
  height: 100%;
  padding: 20px;
}

.screen__background {   
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);  
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 900px;
  width: 800px;
  background: #F2F2F2; 
  top: -400px;
  right: -70px;
  border-radius: 50%;
}

.login {
  width: 100%;
  padding: 30px;
}

.login__field {
  padding: 20px 0px;  
  position: relative; 
}


.login__input {
  border: none;
  border-radius: 20px; /* 부드러운 모서리 */
  background: #F2CDC4;
  padding: 15px;
  padding-left: 50px; /* 아이콘 공간 */
  font-weight: 700;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: .3s;
}

.login__submit {
  background: linear-gradient(135deg, #F25A38, #F24822);
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 30px; /* 부드러운 모서리 */
  border: 1px solid #F2CDC4;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #F2F2F2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: .3s;
}

