.main_btn {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-size: 1.2rem; /* 상대적인 폰트 크기 */
    color: #0D0D0D;
    display: flex; /* flexbox 사용 */
    justify-content: center; /* 가로 방향으로 가운데 정렬 */
    align-items: center; /* 세로 방향으로 가운데 정렬 */
    width: 80vw; /* 버튼 너비 설정 */
    max-width: 400px; /* 최대 너비 설정 */
    height: 10vh; /* 버튼 높이 설정 */
    min-height: 60px; /* 최소 버튼 높이 설정 */
    padding: 0 5%; /* 좌우 패딩 설정 */
    background-color: #F2CDC4;
    text-decoration: none;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.21);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    box-sizing: border-box; /* 패딩과 보더를 포함한 전체 크기 설정 */
    margin-bottom: 20px; /* 버튼 사이의 간격 설정 */
}
